{
  "root": true,
  "ignorePatterns": ["build", "node_modules", "config/*"],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "extends": ["eslint:recommended", "react-app", "prettier"]
}
